<div class="select-container">
  @if (icon) {
    <span class="icon-left">
      <img [src]="'icons/position.svg'" />
    </span>
  }

  <select
  [value]="value"
  [disabled]="disabled"
    (pointerdown)="openArrow()"
    (blur)="closeArrow()"
    (change)="handleChange($event)"
  >
    <option value="" disabled>{{ label }}</option>

    @for (option of options; track option.value) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
    }
  </select>

  @if (arrow) {
    <span class="icon-right" [class.focused]="arrowOpen">
      <img src="/icons/arrow-down.svg" />
    </span>
  }
</div>