.main-section{
    cursor: pointer;
    margin-top: 4rem;
    border: solid 2px #F2C246;
    border-radius: 20px;
    width: 15vw;
    height: 30vh; 
    transition: transform 0.3s ease-in-out;
}

.main-section:hover {
    transform: scale(1.10);

}

.main-section:active {
    transform: scale(1.05);
    transition: transform 0.25s ease-out;
}

.section-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.card-icon{
    
    img{
        width: 7rem;
        height: auto;
    }
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #FCFEFF;
}