<div class="register-container">
    <div class="main-content">
        <div class="container-border">
        <div class="container">

            <div class="content-title">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="title">
                    <span class="first-text">Realizar  </span>
                    <span class="second-text">Cadastro</span>
                </div>
            </div>

            <form [formGroup]="form" (ngSubmit)="submit()" style="display: contents;">
            
            <div class="input">
                
                <app-select
                formControlName="role"
                    label="Selecionar Cargo"
                    [options]="[
                      { label: 'Diretor', value: 'diretor' },
                      { label: 'Tesoureiro', value: 'tesoureiro' },
                      { label: 'Secretário', value: 'secretario' },
                      { label: 'Almoxarifado', value: 'almoxarifado' }
                    ]"
                    [arrow]="true"
                    icon="mail"
                ></app-select>

                <app-input
                formControlName="fullName"
                    type="text"
                    iconSrc="/icons/user-icon.svg"
                    label="Nome Completo"
                    >                         
                </app-input>

                <app-input
                formControlName="email" 
                type="email"
                iconSrc="/icons/letter.svg"
                label="Email">
            </app-input>
                <app-input 
                formControlName="password"
                type="password"
                iconSrc="/icons/padlock.svg"
                label="Senha">
                </app-input>
                
                <div class="container-validation">
                    <strong>A senha deve conter:</strong>
                    <br>
                    <span>No mínimo 6 caracteres</span>
                    <br>
                    <span>No mínimo um caractere especial</span>
                    <br>
                    <span>No mínimo uma letra maiúscula</span>
                    <br>
                    <span>No mínimo um número</span>
                </div>
                
                <app-input 
                formControlName="confirmPassword"
                type="password"
                iconSrc="/icons/padlock.svg"
                label="Confirmar senha">
                </app-input>
            </div>
            <div *ngIf="passwordMismatch" style="color: red; text-align: center;">
                As senhas não coincidem.
            </div>
            <div *ngIf="error" style="color: red; text-align: center;"> {{ error }} </div>
         
            <div class="button-register">
                <app-button 
                [type]="'submit'"
                label="Cadastrar">
                </app-button>
            </div>
        </form>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="img-footer">
            <img src="/images/logo-desbravadores.png" alt="">
        </div>
        <span>Clube de Desbravadores - Almirante Tamandaré</span>
    </div>
</div>  