name: Frontend CI

on:
  push:
    branches: ["main"]
    paths:
      - "almirante-tamandare-frontend/**"
  pull_request:
    branches: ["main"]
    paths:
      - "almirante-tamandare-frontend/**"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: almirante-tamandare-frontend

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
          cache-dependency-path: almirante-tamandare-frontend/package-lock.json

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build --if-present

      - name: Test
        run: npm test --if-present
        
